<section>
  <div class="page-header">
    <h1 ng-bind="vm.article.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.authentication.user.id == vm.article.userId">
    <a class="btn btn-primary" ui-sref="articles.edit({ articleId: vm.article.id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.article.createdAt | date:'mediumDate'"></span>
      by
      <span ng-if="vm.article.User" ng-bind="vm.article.User.displayName"></span>
      <span ng-if="!vm.article.User">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.article.content"></p>
</section>
